.headerContainer {
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.logo {
    text-align: center;
}

.connectButtonWrapper {
    /* position: absolute;
    right: 1px; */
    /* border: 1px solid gray; */
    /* border-radius: 5px; */
    /* padding: 2px; */
}

.wallet {
    position: absolute;
    right: 10px;
    border-radius: 5px;
    padding: 2px;
}

.header {
    align-items: center;
    color: white;
    margin:  10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 70px;
}
