@font-face {
    font-family: BreatheFire;
    src: url("../fonts/Breathe\ Fire.otf") format("opentype");
}

h1, h2, h3, h4, h5, p, th, td, button {
    font-family: 'BreatheFire';
}

.text-gold {
    background: -webkit-linear-gradient(#BF863F, #F6EAAD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-white {
    background: linear-gradient(to right, #dfdfdf,  #FEFEFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

th, td {
    background: linear-gradient(to right, #dfdfdf,  #FEFEFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 2rem;
    line-height: 1.5rem;
}

p {
    font-size: 1rem;
}

.map {
    width: 500px;
    height: 500px;
    border-radius: 15px;
}

.container {
    position: relative;
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}

.btn-browngold {
    font-size: 0.5rem;
    background-color: transparent;
    min-width: 152px;
    border: none;
    background-image: url("../images/UI/BotonTemplate.png");
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center; /* center the content horizontally */
    align-items: center;
}

.btn-browngold p {
    padding-top: 0.75rem;
    color: black;
}

.centered {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fondo {
    background-image: url("../images/UI/FondoLeaderboard.png");
    background-size: contain;
    min-height: 100vh;
}